@using EmployeeManagement.Utils.Constant
@using EmployeeManagement.Models.Entity
@using EmployeeManagement.Models.Helper
@model Pagination<Diploma>

<partial name="_Notification" />
<div class="card shadow border-0 mt-5 mb-5">
    <div class="card-header bg-success bg-gradient ms-0 py-3" style="border-top-left-radius : 10px; border-top-right-radius: 10px">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-light text-uppercase mb-0">Diploma</h2>
            </div>
        </div>
    </div>
    @if (Model.Data.Count == 0)
    {
        <div class="my-3 d-flex justify-content-center">There is no Awarding</div>
    }
    else 
    {
        <div class="card-body p-4">
            <div class="container mb-3">
                <div class="row-cols-8 text-end">
                    <a asp-controller="Diploma" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Add new diploma
                    </a>
                </div>
            </div>
            <table class="table table-bordered table-striped table-secondary mt-4">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var diploma in Model.Data.OrderBy(u => u.Id))
                    {
                        <tr>
                            <td style="vertical-align:middle">
                                @diploma.Id
                            </td>
                            <td style="vertical-align:middle">
                                @diploma.Name
                            </td>
                            <td class="d-flex justify-content-evenly">
                                <div>
                                    <a asp-action="Edit"
                                       asp-controller="Diploma"
                                       asp-route-id="@diploma.Id"
                                       class="btn btn-info btn-sm me-1">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </div>
                                <div>
                                    <a asp-action="Delete"
                                       asp-controller="Diploma"
                                       asp-route-id="@diploma.Id"
                                       class="btn btn-danger btn-sm ms-1">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav class="d-flex justify-content-center mt-4">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link text-danger" asp-controller="Diploma" asp-action="Index" asp-route-page="1" asp-route-size="@Constant.SizeOfDiplomaPage"> <span aria-hidden="true">&laquo;</span></a>
                    </li>
                    @for (int i = 1; i <= Model.PageTotal; i++)
                    {
                        <li class="page-item"><a class="page-link text-warning" style='@(Model.PageNumber == i ? "background-color: #dbdfe4;":"")' asp-controller="Diploma" asp-action="Index" asp-route-page=@i asp-route-size="@Constant.SizeOfDiplomaPage">@i</a></li>
                    }
                    <li class="page-item">
                        <a class="page-link text-danger" asp-controller="Diploma" asp-action="Index" asp-route-page="@Model.PageTotal" asp-route-size="@Constant.SizeOfDiplomaPage"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    }

</div>