@using EmployeeManagement.Utils.Constant
@using EmployeeManagement.Models.Entity
@using EmployeeManagement.Models.Helper
@model Pagination<Commune>

<partial name="_Notification" />
<div class="card shadow border-0 mt-5 mb-5">
    <div class="card-header bg-dark bg-gradient ms-0 py-3" style="border-top-left-radius : 10px; border-top-right-radius: 10px">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-light text-uppercase mb-0">Commune</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="container mb-3">
            <div class="row-cols-8 text-end">
                <a asp-controller="Commune" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Add new commune
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped table-secondary mt-4">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">District</th>
                    <th scope="col">Province</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Commune commune in Model.Data.OrderBy(u => u.Id))
                {
                    <tr>
                        <td style="vertical-align:middle">
                            @commune.Id
                        </td>
                        <td style="vertical-align:middle">
                            @commune.Name
                        </td>
                        <td style="vertical-align:middle">
                            @commune.Level
                        </td>
                        <td style="vertical-align:middle">
                            @commune.District!.Name
                        </td>
                         <td style="vertical-align:middle">
                            @commune.District.Province!.Name
                        </td>
                        <td class="d-flex justify-content-evenly">
                            <div>
                                <a asp-action="Edit"
                                   asp-controller="Commune"
                                   asp-route-id="@commune.Id"
                                   class="btn btn-info btn-sm me-1">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </div>
                            <div>
                                <a asp-action="Delete"
                                   asp-controller="Commune"
                                   asp-route-id="@commune.Id"
                                   class="btn btn-danger btn-sm ms-1">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <nav class="d-flex justify-content-center mt-4">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link text-danger" asp-controller="Commune" asp-action="Index" asp-route-page="1" asp-route-size="@Constant.SizeOfCommunePage"> <span aria-hidden="true">&laquo;</span></a>
                </li>
                @if (Model.PageNumber < 6 || Model.PageNumber > (Model.PageTotal - 5))
                {
                    @for (var i = 1; i <= 7; i++)
                    {
                        <li class="page-item"><a class="page-link text-warning" style='@(Model.PageNumber == i ? "background-color: #dbdfe4;":"")' asp-controller="Commune" asp-action="Index" asp-route-page="@i" asp-route-size="@Constant.SizeOfCommunePage">@i</a></li>
                    }
                    <li class="page-item"><a class="page-link text-warning">...</a></li>
                    @for (var i = Model.PageTotal - 6; i <= Model.PageTotal; i++)
                    {
                        <li class="page-item"><a class="page-link text-warning" style='@(Model.PageNumber == i ? "background-color: #dbdfe4;":"")' asp-controller="Commune" asp-action="Index" asp-route-page="@i" asp-route-size="@Constant.SizeOfCommunePage">@i</a></li>
                    }
                }
                @if (Model.PageNumber >= 6 && Model.PageNumber <= Model.PageTotal - 5)
                {
                    @for (var i = 1; i <= 2; i++)
                    {
                        <li class="page-item"><a class="page-link text-warning" asp-controller="Commune" asp-action="Index" asp-route-page="@i" asp-route-size="@Constant.SizeOfCommunePage">@i</a></li>
                    }
                    <li class="page-item"><a class="page-link text-warning">...</a></li>
                    @for (var i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                    {
                        <li class="page-item"><a class="page-link text-warning" style='@(Model.PageNumber == i ? "background-color: #dbdfe4;":"")' asp-controller="Commune" asp-action="Index" asp-route-page=@i asp-route-size="@Constant.SizeOfCommunePage">@i</a></li>
                    }
                    <li class="page-item"><a class="page-link text-warning">...</a></li>
                    @for (var i = Model.PageTotal - 1; i <= Model.PageTotal; i++)
                    {
                        <li class="page-item"><a class="page-link text-warning" asp-controller="Commune" asp-action="Index" asp-route-page="@i" asp-route-size="@Constant.SizeOfCommunePage">@i</a></li>
                    }
                }
                <li class="page-item">
                    <a class="page-link text-danger" asp-controller="Commune" asp-action="Index" asp-route-page="@Model.PageTotal" asp-route-size="@Constant.SizeOfCommunePage"><span aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
