@using EmployeeManagement.Utils.Constant
@using EmployeeManagement.Models.Entity
@using EmployeeManagement.Models.Helper
@model Pagination<Employee>
<partial name="_Notification"/>
<div class="container">
    <div class="row pt-4 text-center text-uppercase">
        <h2>
            Employee List
        </h2>
    </div>
    <hr style="border: 1px solid black;"/>
    <div class="row-cols-4 text-end mt-2 d-flex justify-content-between">

        <button id="download-btn" class="btn btn-success">
            <i class="bi bi-arrow-down-circle"></i> &nbsp; Export employee list
        </button>
        <a asp-action="Create" asp-controller="Employee"
           class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> &nbsp; Create new employee
        </a>
        @* <label for="import-btn" class="btn btn-warning" style="cursor: pointer"> *@
        @*     <i class="bi bi-arrow-up-circle"></i> &nbsp; Import employee list *@
        @*     <input type="file" accept=".xlsx,.xls" id="import-btn" style="width: 0; height: 0" onchange="getFilePath()" /> *@
        @* </label> *@
        
        @* <form method="post" enctype="multipart/form-data" action="/Employee/UploadFile"> *@
        @*     <input type="file" name="file" /> *@
        @*     <input type="submit" value="Upload" /> *@
        @* </form> *@
        
        <form method="post" id="form-import-employee" enctype="multipart/form-data" action="Employee/UploadFile">
            @* <input type="file" name="file" /> *@
            <label for="import-btn" class="btn btn-warning" style="cursor: pointer">
                <i class="bi bi-arrow-up-circle"></i> &nbsp; Import employee list
                <input type="file" name="file" accept=".xlsx,.xls" id="import-btn" style="width: 0; height: 0" onchange="getFilePath()"/>
            </label>
            @* <input type="submit" value="Upload" /> *@
        </form>
    </div>
</div>

@if (Model.Data.Count > 0)
{
    <table class="table table-bordered table-striped table-secondary mt-4 mb-5">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date Of birth</th>
            <th scope="col">Age</th>
            <th scope="col">Ethnic Group</th>
            <th scope="col">Occupation</th>
            <th scope="col">Citizen Identity Card</th>
            <th scope="col">Phone Number</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var employee in Model.Data.OrderBy(u => u.Id))
        {
            <tr>
                <td style="vertical-align:middle">
                    @employee.Name
                </td>
                <td style="vertical-align:middle">
                    @employee.Dob.Day - @employee.Dob.Month -
                    @employee.Dob.Year
                </td>
                <td style="vertical-align:middle">
                    @EmployeeManagement.Utils.Inspect.GetYear(employee.Dob).ToString()
                </td>
                <td style="vertical-align:middle">
                    @employee.EthnicGroup?.Name
                </td>
                <td style="vertical-align:middle">
                    @employee.Occupation?.Name
                </td>
                <td style="vertical-align:middle">
                    @employee.CitizenIdentityCard
                </td>
                <td style="vertical-align:middle">
                    @employee.PhoneNumber
                </td>
                <td class="d-flex justify-content-evenly">
                    <div>
                        <a asp-action="Edit"
                           asp-controller="Employee"
                           asp-route-id="@employee.Id"
                           class="btn btn-info btn-sm me-1">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                    <div>
                        <a asp-action="Delete"
                           asp-controller="Employee"
                           asp-route-id="@employee.Id"
                           class="btn btn-danger btn-sm ms-1">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </div>
                    <div>
                        <a asp-action="IndexByEmployeeId"
                           asp-controller="AwardDiploma"
                           asp-route-id="@employee.Id"
                           class="btn btn-sm ms-1"
                           style="background : #939e28; color : white">
                            <i class="bi bi-award"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <nav class="d-flex justify-content-center mt-4">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link text-danger" asp-controller="Employee" asp-action="Index" asp-route-page="1" asp-route-size="@Constant.SizeOfEmployeePage">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (var i = 1; i <= Model.PageTotal; i++)
            {
                <li class="page-item">
                    <a class="page-link text-warning" style='@(Model.PageNumber == i ? "background-color: #dbdfe4;" : "")' asp-controller="Employee" asp-action="Index" asp-route-page="@i" asp-route-size="@Constant.SizeOfEmployeePage">@i</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link text-danger" asp-controller="Employee" asp-action="Index" asp-route-page="@Model.PageTotal" asp-route-size="@Constant.SizeOfEmployeePage">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}
else
{
    <h4 class="text-center text-uppercase border-4 border border-dark py-3 rounded-4 w-75" style="margin: 40px auto 0;">
        There is no employee
    </h4>
}

<script src="~/js/employee-export-excel.js"> </script>
@section Scripts{
    <script>
         function getFilePath() {
                const form = document.getElementById('form-import-employee');
                form.submit();
                //location.reload();
            }
    </script>
}
